{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="home-container">
    <!-- Hero section -->
    <div class="flex flex-col lg:flex-row">
        <div class="w-full lg:w-[40%] flex flex-col pt-10 lg:pt-36 px-10 lg:pr-36 2xl:pr-60 items-start order-2 lg:-order-1">
            <h2 class="text-4xl font-medium">طلافروشی</h2>
            <h2 class="text-4xl font-medium pt-5">پاندورا</h2>
            <p class="pt-10 font-medium text-xl">گنجینه زیبایی ابدی</p>
            <p class="pt-4 text-lg text-neutral-500">بهترین طلافروشی اصفهان</p>
            <button hx-get="{% url 'products' %}" hx-target="body" hx-push-url="true" class="btn btn-primary w-36 mt-8">خرید طلا
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg> 
            </button>
            <div class="hidden lg:block size-96 border border-primary rounded-full absolute -z-20 top-0 right-0 transform translate-x-1/2 -translate-y-1/4"></div>
            <div class="hidden lg:block size-96 border border-primary rounded-full relative -z-20 top-0 right-0 transform -translate-x-1/2 -translate-y-1/4"></div>
        </div>
        <img class="w-full lg:w-[60%] lg:h-[49em] object-cover" src="{% static 'image/hero_image.webp' %}"/>
    </div>
    <div class="relative bg-white h-28 w-[90%] -mt-36 hidden lg:block"></div>


    <div class="flex flex-col w-full justify-center items-center pb-10 pt-20 lg:pt-0 2xl:px-[20%] lg:px-20">
        <div>
            <p class="text-lg">ما متخصص و متعهد به محصولات خود هستیم.</p>
            <h2 class="text-4xl font-medium pt-4">فقط محصولات با کیفیت</h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-between items-start w-full ">
            <div class="lg:pt-16 pt-8 flex flex-col lg:flex-row gap-5 items-center justify-center">
                <img class="size-64" src="{% static 'image/hero_image.webp' %}"/>
                <div class="w-full md:w-60 px-10 md:px-0">
                    <h3 class="text-2xl font-medium">جواهرات طلا</h3>
                    <p class="text-lg  pt-2">مجموعه ای متنوع و پایدار از قطعات کلاسیک را پیدا کنید که به شما می‌آید و ظاهر شما را کامل می‌کند. </p>
                    <button hx-get="{% url 'products' %}" hx-target="body" hx-push-url="true" class="btn btn-neutral mt-4">دیدن محصولات بیشتر
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                        </svg> 
                    </button>
                </div>
            </div>
            <div class="lg:pt-16 pt-16 justify-center flex flex-col items-center w-full lg:w-auto">
                <div class="carousel w-64">  
                    <img class="size-64 carousel-item" src="{% static 'image/ring.jpg' %}"/>
                    <img class="size-64 carousel-item" src="{% static 'image/ring.jpg' %}"/>
                    <img class="size-64 carousel-item" src="{% static 'image/ring.jpg' %}"/>
                </div>
                <div class="flex gap-1 justify-center pt-6">
                    <span class="bg-neutral size-2 rounded-full"></span>
                    <span class="bg-neutral size-2 rounded-full"></span>
                    <span class="bg-neutral size-2 rounded-full"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Categories -->
    <div class="flex flex-col pt-16 justify-center items-center px-10 lg:px-20 2xl:px-[20%] w-full ">
        <p class="text-lg">دسته بندی محصولات ما</p>
        <h2 class="text-4xl font-medium pt-4 text-center">کالکشن ها</h2>
        <div class="flex flex-wrap w-full gap-5 justify-center pt-10">
            {% for category in categories %}
                <div hx-get="{% url 'products' %}?category={{category.name}}" hx-target="body" hx-push-url="true" class="flex justify-between w-80 p-3 items-start shadow-md hover:shadow-lg">
                    <div class="flex gap-4 w-1/2 items-center">
                        <p class='font-medium text-xl'>{{category.name}}</p>
                        <p class="bg-neutral text-white rounded-full size-8 flex items-center justify-center">{{category.product_count}}</p>
                    </div>
                    <div class=" w-1/2">
                        <img class="size-40 object-fill" src="media/{{category.image}}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Products -->
    <div class="pt-32 px-10 2xl:px-[20%] lg:px-20 w-full flex items-center flex-col">
        <p class="text-lg">مطمعن نیستید از کجا شروع کنید؟</p>
        <h2 class="text-4xl font-medium pt-4 text-center">جدید ترین ها</h2>
        {% include 'partial/products_list.html' %}
    </div>

    <!-- Gift section -->
    <div class="pt-36 flex flex-col lg:flex-row justify-between gap-6 lg:gap-16 items-center px-10 lg:px-20 2xl:px-[20%]">
        <div class="flex flex-col items-start order-2 lg:-order-1">
            <p class="text-lg">مراسمی در پیش دارید؟</p>
            <h2 class="text-3xl pt-2 text-center">یک هدیه برای آنها بگیرید</h2>
            <p class="pt-2 text-lg"> با خرید طلا و جواهرات مورد علاقه خود از فروشگاه آنلاین برتر جواهرات در دبی، انتخاب درستی انجام دهید. کانز به دلیل اعتماد و تنوع گسترده مجموعه‌های خود شناخته شده است.</p>
            <button hx-get="{% url 'products' %}" hx-target="body" hx-push-url="true" class="btn btn-neutral mt-4">خرید هدیه
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>                  
            </button>
        </div>
        <img class="w-full lg:w-[50%] object-fill" src="{% static 'image/gift.webp' %}"/>
    </div>

    <!-- Subscribe -->
    <div class="pt-36 w-full flex flex-col justify-center items-center" id="subscribe">
        {% include 'home/phone_number_form.html' %}
    </div>

    <!-- Aboat Us Section -->
    <div class="mt-32 px-10 py-24 w-full flex flex-col justify-center items-start lg:px-20 2xl:px-[20%]" style="background-image: url('static/image/home3.jpg');">
        <div class="p-10 flex flex-col justify-center items-start bg-primary text-white max-w-96 rounded-xl">
            <h2 class="font-medium text-3xl">ما چه کسی هستیم</h2>
            <p class="text-lg pt-2"> جواهرات پاندورا در سال ۱۹۹۱ توسط آقای انیل داناک تأسیس شد. آقای داناک، پیشگام این عرصه با سابقه تجاری بسیار غنی، تا قبل از تأسیس کَنز، مدیریت کسب‌وکار مشترک خانوادگی جواهرات خود را در دبی بر عهده داشت. سپس، کاملاً به تنهایی و از صفر، شرکت پاندورا را راه‌اندازی کرد.</p>
            <button hx-get="{% url 'about' %}" hx-target="body" hx-push-url="true" class="btn mt-4">
                خواندن درباره ما
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg> 
            </button>
        </div>
    </div>

    <!-- Footer -->
    {% include 'home/footer.html' %}

    <!-- Question form -->
    {% include 'question_modal.html' %}
</div>
{% endblock %}