{% extends 'base.html' %}

{% block content %}
<div>
    <div class="breadcrumbs text-sm w-full flex items-center justify-center py-6">
        <ul>
            <li><a hx-get="{% url 'home' %}" hx-target="body" hx-push-url="true">خانه</a></li>
            <li><a hx-get="{% url 'products' %}" hx-target="body" hx-push-url="true">محصولات</a></li>
            <li><a class="text-primary">{{product.name}}</a></li>
        </ul>
    </div>
    <div class="flex flex-col lg:flex-row justify-center lg:justify-between px-6 lg:px-12 2xl:px-[20%]">
        <!-- Product media -->
        <div class="w-full lg:w-[45%]"> 
            <div class="relative">  
                <!-- Carousel Main Image -->  
                <div id="main_image_con" class="overflow-hidden">  
                    <img id="main-image" class="mx-auto object-cover w-full transition-opacity duration-300 rounded-lg" src="{{ product.image.url }}">  
                </div> 
            </div>  
        
            <!-- Thumbnails -->  
            <div class="flex gap-2 mt-4 w-full overflow-x-auto overflow-y-hidden">  
                <img class="thumbnail cursor-pointer w-28 h-28 object-cover rounded-lg border transition-transform duration-300 hover:scale-110"   
                        src="{{ product.image.url }}"
                        onclick="changeImage('{{ product.image.url }}','image')"> 
                
                {% for image in images %}  
                    <img class="thumbnail cursor-pointer w-28 h-28 object-cover rounded-lg border transition-transform duration-300 hover:scale-110"   
                        src="{{ image.image_field.url }}"   
                        onclick="changeImage('{{ image.image_field.url }}','image')">  
                {% endfor %}  
                
                {% for video in videos %}  
                    <video onclick="changeImage('{{ video.video.url }}','video')" class="thumbnail cursor-pointer w-28 h-28 object-cover rounded-lg border transition-transform duration-300 hover:scale-110">
                        <source src="{{video.video.url}}" type="video/mp4">
                    </video> 
                {% endfor %}  
            </div>   
        </div>

        <!-- Product Detail -->
        <div class="flex flex-col items-start justify-start lg:w-1/2 gap-4">
            <h2 class="text-3xl font-medium pt-4">{{product.name}}</h2>
            <p class="font-medium">{{product.formatted_price}} تومان </p>
            <p>{{product.description}}</p>
            <button class="btn btn-primary w-full lg:w-96" onclick="my_modal_2.showModal()">خرید محصول</button>

            <div class="overflow-x-auto w-full lg:w-96">
                <div class="w-full border-x-2 border-t-2 text-lg font-medium p-3">توضیحات محصول</div>
                <table class="table border-2 w-full">
                  <tbody>
                    <tr><th>نوع محصول</th><td>{{product.category_id}}</td></tr>
                    <tr><th>جنس</th><td>{% if product.material %} {{product.material}} {% endif %}</td></tr>
                    <tr><th>عیار</th><td>{% if product.carat %} {{product.carat}} {% endif %}</td></tr>
                    <tr><th>وزن</th><td>{% if product.weight %} {{product.weight}} {% endif %}</td></tr>
                    <tr><th>رنگ</th><td>{% if product.color %} {{product.color}} {% endif %}</td></tr>
                  </tbody>
                </table>
            </div>
            <p class="w-full lg:w-96 text-center">قبل از خرید قوانین <span class="underline cursor-pointer" onclick="my_modal_5.showModal()">مرجوعی</span> و <span onclick="my_modal_1.showModal()" class="underline cursor-pointer">ارسال</span> را مطالعه کنید</p>
            <div class="flex justify-center items-center gap-4 w-full lg:w-96">
                <a href="https://twitter.com/share?url=http://127.0.0.1:8000/product/{{product.id}}/&text={{product.name}}"><?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"/></svg></a>
                <a href="https://telegram.me/share/url?url=http://127.0.0.1:8000/product/{{product.id}}/&text={{product.name}}"><svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><title>Telegram icon</title><path d="M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z"/></svg></a>
            </div>

            <!-- Modal for post rules -->
            <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">قوانین ارسال</h3>
                    <p class="py-4">شرایط دریافت و ارسال مرسوله (تعهدات قراردادی) الف) شرایط عمومی: شروط و تعهدات مندرج در این صفحه میان شرکت تیپاکس اکسپرس پارس به شناسه ملی 14007209148 با تمام مشتریان که در سامانه اختصاصی ثبت قرارداد اقدام به تحویل محمولات خود به تیپاکس جهت ارسال و توزیع در مقاصد معین می نمایند حاکم بوده و نیاز به اخذ امضاء مجزا در هیچ سند یا رسید دیگری نیست. ب) تعهدات فرستنده: </p>
                    <ol type="1">
                        <li type="1">فرستنده مکلف است مشخصات هویتی و اقامتگاه قانونی خود را به درستی و کامل اظهار کند. بر همین اساس تیپاکس، صرفا شخصی را که هویت وی در سامانه ثبت شده، به عنوان مشتری به رسمیت شناخته و صرفا به ایشان پاسخگو است. </li>
                        <li type="1">چنانچه فرستنده آدرس خود یا گیرنده را به درستی و کامل قید نکرده باشد به طوری که موجبات عدم تحویل مرسوله به گیرنده را فراهم کرده و یا گیرنده از گرفتن مرسوله خودداری کند به نحوی که نهایتا دوباره به مبدا بازگردانده شود، فرستنده مکلف به تحویل گرفتن مرسوله ارسالی خود بوده و متعهد به پرداخت هزینه رفت و برگشت مرسوله مذکور نیز خواهد بود. </li>
                        <li type="1">فرستنده مکلف است هنگام تحویل مرسوله، نوع و ارزش واقعی آن را به تیپاکس اعلام کند. در صورت مفقودی یاآسیب کلی، مسئولیت تیپاکس محدود به پرداخت خسارت تا حداکثر مبلغ اظهار شده مشتری و در صورت کسر یا فقدان جزیی مرسوله، مسئولیت تیپاکس محدود به پرداخت خسارت متناسب با میزان آسیب دیدگی یا کسری مرسوله مطابق با نظر کارشناسان تیپاکس خواهد بود. طرح هرگونه ادعای دیگری از سوی فرستنده از جمله مطالبه عین یا مبلغی بیش از ارزش اظهار شده، پذیرفته نخواهد بود.  </li>
                    </ol>
                    <div class="modal-action">
                        <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn btn-neutral">بستن</button>
                        </form>
                    </div>
                </div>
            </dialog>

            <!-- Modal for send-back rules -->
            <dialog id="my_modal_5" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">قوانین مرجوعی</h3>
                    <p class="py-4">قوانین مرجوعی در نور گالری:</p>
                    <ol type="1">
                        <li class="font-medium" type="1">سلامت فیزیکی کالا:</li>
                        <p>اگر کالای فروخته شده در هنگام تحویل به مشتری دارای آسیب دیدگی فیزیکی و ظاهری باشد. و دچار عیب فیزیکی شده باشد. در این حالت مشتری می تواند کالا را ظرف مدت ۴۸ ساعت در بسته بندی و کارتن اصلی خود به سایت فروشنده مرجوع کند.</p>
                        <li class="font-medium" type="1">پلمپ کالا:</li>
                        <p>در این ‌بین لازم است که کالا به همان شکل که بسته بندی شده است و بدون مخدوش کردن و از بین بردن پلمپ ان برای فروشنده مرجوع شود.</p>
                        <li class="font-medium" type="1"> تطابق ادعای فروشنده با کیفیت کالای تحویلی:</li>
                        <p>کالای ارسال شده از نظر شکل و ظاهر و فیزیک و یا مشخصات با کالای خریداری شده در سایت هانیک ایران مغایرت داشته باشد. در این صورت نیز خریدار می تواند کالا را به هماهنگی با واحد فروش و یا خدمات پس از فروش به فروشنده مرجوع کند و فروشنده باید دقیقاً و عیناً همان کالای خریداری شده با همان مشخصات را به خریدار تحویل دهد.</p>
                    </ol>
                    <div class="modal-action">
                        <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn btn-neutral">بستن</button>
                        </form>
                    </div>
                </div>
            </dialog>

            <!-- Modal for buy product button -->
            <dialog id="my_modal_2" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">خرید محصول</h3>
                    <p class="py-4">جهت خرید محصول به ما در واتساپ یا اینستاگرام پیام دهید</p>
                    <p class="font-medium">شماره تماس: 09123456789</p>
                    <div class="flex gap-2">
                        <button class="btn btn-primary mt-3">اینستاگرام</button>
                        <button class="btn btn-neutral mt-3">واتساپ</button>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>


    <!-- Related products -->
    <div class="pt-32 px-10 2xl:px-[20%] lg:px-20 w-full flex items-center flex-col">
        <h2 class="text-4xl font-medium pt-4 text-center">محصولات مشابه</h2>
        {% include 'partial/products_list.html' %}
    </div>

    <div class="pt-36 w-full flex flex-col justify-center items-center" id="subscribe">
        {% include 'home/phone_number_form.html' %}
    </div>

    <!-- Question form -->
    {% include 'question_modal.html' %}
    
    <!-- Footer -->
    {% include 'home/footer.html' %}
</div>

<script>  
    // JavaScript to handle image change with thumbnails  
    const currentIndex = 0;  
    const images = '{% for image in images %}<img src="/media/{{ image.image_field }}"/>,{% endfor %}'

    function changeImage(imageUrl, type) {  
        const mainImageCon = document.getElementById('main_image_con')  
        if (type == 'video'){
            mainImageCon.innerHTML = 
                `<video controls autoplay onclick="changeImage('${imageUrl}')" class="mx-auto object-cover w-full transition-opacity duration-300 rounded-lg">
                    <source src="${imageUrl}" type="video/mp4">
                </video> `
        } else if (type == 'image') {
            mainImageCon.innerHTML = `<img id="main-image" class="mx-auto object-cover w-full transition-opacity duration-300 rounded-lg" src="${imageUrl}">`
        }
    }  
</script>  
{% endblock %}