{% extends 'base.html' %}

{% block content %}
<div class=" pt-12">
    <!-- Title -->
    <h2 class="font-medium text-3xl w-full text-center">محصولات</h2>
    <div class="breadcrumbs text-sm w-full flex items-center justify-center">
        <ul>
            <li><a hx-get="{% url 'home' %}" hx-target="body" hx-push-url="true">خانه</a></li>
            <li><a class="text-primary">محصولات</a></li>
        </ul>
    </div>

    <div class="flex flex-col lg:flex-row px-6 lg:px-12 2xl:px-[20%] gap-5 pt-6">
        <!-- Category Filter --> 
        <select id="category-filter" class="select select-bordered max-w-56"   
                name="category"
                onchange="updateURL()">  
                <option value="" selected>همه دسته بندی ها</option> 
            {% for category in categories %}  
            <option value="{{ category.name }}" {% if selected_category == category.name %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}  
        </select>

        <!-- Order By Filter -->  
        <select id="order-select" class="select select-bordered max-w-56 ml-4"   
                name="order"
                onchange="updateURL()">  
            <option value="-created_at" {% if order == '-created_at' %}selected{% endif %}>جدیدترین</option>  
            <option value="created_at" {% if order == 'created_at' %}selected{% endif %}>قدیمی‌ترین</option>  
            <option value="price" {% if order == 'price' %}selected{% endif %}>کمترین قیمت</option>  
            <option value="-price" {% if order == '-price' %}selected{% endif %}>بیشترین قیمت</option>  
        </select> 
    </div>

    <!-- Products -->
    <div class="px-6 lg:px-12 2xl:px-[20%] flex flex-col items-center" id="product_con">
        {% include 'partial/products_list.html'  %}
    </div>
    
    <!-- Paginator -->
    <div dir='ltr' class="join pt-8 w-full justify-center px-6 lg:px-12 2xl:px-[20%]">
        <button id='prev' class="join-item btn" onclick='prev()'>«</button>
        <div class="join-item btn">{{pagination_count}} صفحه  {{page.number}} از </div>
        <button id='next' class="join-item btn" onclick='next()'>»</button>
    </div>

    <!-- Subscribe -->
    <div class="pt-28 pb-10 w-full flex flex-col justify-center items-center" id="subscribe">
        {% include 'home/phone_number_form.html' %}
    </div>

    {% include 'home/footer.html' %}

    <!-- Question form -->
    {% include 'question_modal.html' %}
</div>

<script>  
    function updateURL() {  
        const category = document.getElementById('category-filter').value;  
        const order = document.getElementById('order-select').value;  
        const url = new URL(window.location);  

        if (category) {  
            url.searchParams.set('category', category);  
            url.searchParams.set('page', 1);
        } else {  
            url.searchParams.delete('category');  
        }  

        if (order) {  
            url.searchParams.set('order', order);
            url.searchParams.set('page', 1); 
        } else {  
            url.searchParams.delete('order');  
        }
 
        htmxRequest(url) 
    }

    function next() { 
        const nextBtn = document.getElementById('next');
        const url = new URL(window.location);

        var currentPage = url.searchParams.get('page') ? parseInt(url.searchParams.get('page')) : 1
        {% if page.has_next %}
            url.searchParams.set('page', currentPage+1);
        {% endif %} 

        htmxRequest(url)
    }

    function prev() {
        const prevBtn = document.getElementById('prev');  
        const url = new URL(window.location);

        var currentPage = url.searchParams.get('page') ? parseInt(url.searchParams.get('page')) : 1
        if (currentPage != 1){
            url.searchParams.set('page', currentPage-1);
        }

        htmxRequest(url)
    }

    function htmxRequest(url) {
        window.history.pushState({}, '', url);  
        var productsUrl = "{% url 'products' %}?" + url.searchParams.toString();  
        htmx.ajax('GET', productsUrl, { target: '#product-list' }); 
    }
</script> 

{% endblock %}